* {
    font-family: sans-serif;
}

.product {
    margin: 1% 0;
    padding: 1% 1%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border: #284257 2px solid;
    max-width: 400px;
}

a {
    margin-right: 5px;
}

.productInfo {
    height: 100px;
    width: 200px;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.productImage {
    float: left;
    width: 100px;
    height: 100px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.orderContainer {
    border: #284257 2px solid;
    margin: 1% 0;
    padding: 1% 1%;
    font-size: 16px;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

hr {
    border-color: grey;
    width: 100%;
}

#totalPrice {
    font-size: 20px;
    font-weight: bold;
}

.page {
    display: none;
}